# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.HelloWorld.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ftern\RiderProjects\HelloWorld\.idea\.idea.HelloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
